@model IEnumerable<DoAnASPnetPhone.Models.Sanpham>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<h1>Quản lí sản phẩm</h1>

<form asp-controller="Sanphams" asp-action="Search" method="get" class="form-inline mt-5 mt-md-0 d-none d-lg-block">

 
    Tên sản phầm:  <input class="form-control mr-sm-1 search" style="width:150px; height:10px " type="text" name="name" />
    Khoảng giá tiền: <input class="form-control mr-sm-1 search" style="width:80px; height:10px " type="number" name="minprice" />-
    <input class="form-control mr-sm-1 search" style="width:80px" type="number" name="maxprice" />

    <button type="submit">Tìm kiếm</button>

</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Masp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tensp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Giatien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anhbia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hangsanxuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hedieuhanh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Masp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tensp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Giatien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soluong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mota)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Anhbia)*@
                    <img src="~/assets/pages/img/sanpham/@Html.DisplayFor(modelItem => item.Anhbia)" width="100" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hangsanxuat.Tenhang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hedieuhanh.Tenhdh)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
