@model DoAnASPnetPhone.Models.Giohang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Giohang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nguoidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nguoidung.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.Tensp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongMua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongMua)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
