@model DoAnASPnetPhone.Models.Chitietdonhang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chitietdonhang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donhang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donhang.Madon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.Tensp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dongia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
