
 
@model IEnumerable<DoAnASPnetPhone.Models.Giohang>

<!DOCTYPE html>
<html lang="en">

<!--  demo.smartaddons.com/templates/html/emarket/cart.html by AkrAm, Sat, 20 Apr 2019 20:00:20 GMT -->

<head>

    <!-- Basic page needs
    ============================================ -->
    <title>Bán điện thoại</title>
    <meta charset="utf-8">
    <meta name="keywords"
          content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates" />
    <meta name="description"
          content="eMarket is a powerful Multi-purpose HTML5 Template with clean and user friendly design. It is definite a great starter for any eCommerce web project." />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->

    <link rel="shortcut icon" type="image/png" href="ico/favicon-16x16.png" />


    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/css/themecss/lib.css" rel="stylesheet">
    <link href="~/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/js/minicolors/miniColors.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="~/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="~/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="~/css/themecss/so-categories.css" rel="stylesheet">
    <link href="~/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="~/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="~/css/footer/footer1.css" rel="stylesheet">
    <link href="~/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="~/css/theme.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700' rel='stylesheet'
          type='text/css'>
    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif
        }
    </style>

</head>

<body class="res layout-1">

    <div id="wrapper" class="wrapper-fluid banners-effect-5">


        <!-- Header Container  -->
        <!-- //Main Container -->
        <div id="content" class="col-sm-12">
            <h2 class="title">Shopping Cart</h2>
            <div class="table-responsive form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-center">Hình ảnh</td>
                            <td class="text-left">Tên sản phẩm</td>
                            @*<td class="text-left">Model</td>*@
                            <td class="text-left">Số lượng</td>
                            <td class="text-right">Đơn giá</td>
                            <td class="text-right">Tổng cộng</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Giohang cart in Model) {
                        <tr>
                            <td class="text-center">
                                <a href="product.html">
                                    <img width="70px"
                                         src="~/assets/pages/img/sanpham/@cart.Sanpham.Anhbia"
                                         alt="~/Aspire Ultrabook Laptop" title="@cart.Sanpham.Tensp"
                                         class="img-thumbnail" />
                                </a>
                            </td>
                            <td class="text-left">
                                <a href="product.html">@cart.Sanpham.Tensp</a><br />
                            </td>
                            @*<td class="text-left">Pt 001</td>*@
                            <td class="text-left" width="200px">
                                <div class="input-group btn-block quantity">
                                    <input type="text" name="quantity" value="@cart.SoLuongMua" size="1"
                                           class="form-control" />
                                    <span class="input-group-btn">
                                        <button type="submit" data-toggle="tooltip" title="Update"
                                                class="btn btn-primary">
                                            <i class="fa fa-clone"></i>
                                        </button>
                                        <a asp-controller="Giohangs" asp-action="Delete1" asp-route-id="@cart.Id"
                                           class="btn btn-danger">Xóa</a>
                                        @*<button type="submit" data-toggle="tooltip" title="Remove"
                                                class="btn btn-danger" onClick="" >
                                            <i class="fa fa-times-circle"></i>
                                        </button>*@
                                    </span>
                                </div>
                            </td>
                            <td class="text-right">@cart.Sanpham.Giatien</td>
                            <td class="text-right">$120.00</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>



            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-right">
                                    <strong>Sub-Total:</strong>
                                </td>
                                <td class="text-right">$168.71</td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <strong>Flat Shipping Rate:</strong>
                                </td>
                                <td class="text-right">$4.69</td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <strong>Eco Tax (-2.00):</strong>
                                </td>
                                <td class="text-right">$5.62</td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <strong>VAT (20%):</strong>
                                </td>
                                <td class="text-right">$34.68</td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <strong>Total:</strong>
                                </td>
                                <td class="text-right">$213.70</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="buttons">

                <div class="pull-right"><a href="checkout.html" class="btn btn-primary">Checkout</a></div>
            </div>
        </div>

        <!-- Footer Container -->
        <!-- Footer Top Container -->
        <!-- /Footer Top Container -->
        <!-- //end Footer Container -->

    </div>


    <!-- Include Libs & Plugins
    ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="~/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/themejs/libs.js"></script>
    <script type="text/javascript" src="~/js/unveil/jquery.unveil.js"></script>
    <script type="text/javascript" src="~/js/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
    <script type="text/javascript" src="~/js/datetimepicker/moment.js"></script>
    <script type="text/javascript" src="~/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui/jquery-ui.min.js"></script>


    <!-- Theme files
    ============================================ -->


    <script type="text/javascript" src="~/js/themejs/so_megamenu.js"></script>
    <script type="text/javascript" src="~/js/themejs/addtocart.js"></script>
    <script type="text/javascript" src="~/js/themejs/application.js"></script>

</body>

<!--  demo.smartaddons.com/templates/html/emarket/cart.html by AkrAm, Sat, 20 Apr 2019 20:00:20 GMT -->

</html>